<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="top">Heroínas y los Héroes
        Tecnológicos</h1>
        <a href="babbage">Ir a Charles Babbage</a><br>
        <br>
        <a href="berners-lee">Ir a Tim Berners-Lee</a><br>
        <br>
        <a href="clarke">Ir a Edmund Clarke</a><br>
        <br>
        <a href="hamilton">Ir a Margaret Hamilton</a><br>
        <br>
        <a href="hopper">Ir a Grace Hopper</a><br>
        <br>
        <a href="lovelace">Ir a Ada Lovelace</a><br>
        <br>
        <a href="turing">Ir a Alan Turing</a><br>
    <p></p>
    <img src="" alt="">
</body>
</html>